<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snf.dsds.dao.CtdDataRecordsDao">
    <insert id="batchInsert">
        INSERT INTO `t_ctd_data_records` (
            `data_set_sn`,
            `voyage_number`,
            `ship_name`,
            `platform_type`,
            `platform_name`,
            `station_num`,
            `start_time`,
            `finish_time`,
            `dive_num`,
            `longitude_layout`,
            `latitude_layout`,
            `depth_layout`,
            `longitude_work`,
            `latitude_work`,
            `depth_work`,
            `dev_model`,
            `dev_sn`,
            `data_format`,
            `data_status`,
            `data_file_name`,
            `dev_type`
        )
        VALUES
            <foreach collection="list"   separator="," item="item">
                (
                #{item.dataSetSn,jdbcType=VARCHAR},
                #{item.voyageNumber,jdbcType=VARCHAR},
                #{item.shipName,jdbcType=VARCHAR},
                #{item.platformType,jdbcType=BIGINT},
                #{item.platformName,jdbcType=VARCHAR},
                #{item.stationNum,jdbcType=VARCHAR},
                #{item.startTime,jdbcType=BIGINT},
                #{item.finishTime,jdbcType=BIGINT},
                #{item.diveNum,jdbcType=VARCHAR},
                #{item.longitudeLayout,jdbcType=DOUBLE},
                #{item.latitudeLayout,jdbcType=DOUBLE},
                #{item.depthLayout,jdbcType=DOUBLE},
                #{item.longitudeWork,jdbcType=DOUBLE},
                #{item.latitudeWork,jdbcType=DOUBLE},
                #{item.depthWork,jdbcType=DOUBLE},
                #{item.devModel,jdbcType=VARCHAR},
                #{item.devSn,jdbcType=VARCHAR},
                #{item.dataFormat,jdbcType=VARCHAR},
                #{item.dataStatus,jdbcType=BIGINT},
                #{item.dataFileName,jdbcType=VARCHAR},
                #{item.devType,jdbcType=BIGINT}
                )
            </foreach>
    </insert>

    <insert id="addCtdDataRecord">
        INSERT INTO `t_ctd_data_records` (
            `data_set_sn`,
            `voyage_number`,
            `ship_name`,
            `platform_type`,
            `platform_name`,
            `station_num`,
            `start_time`,
            `finish_time`,
            `dive_num`,
            `longitude_layout`,
            `latitude_layout`,
            `depth_layout`,
            `longitude_work`,
            `latitude_work`,
            `depth_work`,
            `dev_model`,
            `dev_sn`,
            `data_format`,
            `data_status`,
            `data_file_name`,
            `dev_type`
        )VALUES (
            #{dataSetSn,jdbcType=VARCHAR},
            #{voyageNumber,jdbcType=VARCHAR},
            #{shipName,jdbcType=VARCHAR},
            #{platformType,jdbcType=BIGINT},
            #{platformName,jdbcType=VARCHAR},
            #{stationNum,jdbcType=VARCHAR},
            #{startTime,jdbcType=BIGINT},
            #{finishTime,jdbcType=BIGINT},
            #{diveNum,jdbcType=VARCHAR},
            #{longitudeLayout,jdbcType=DOUBLE},
            #{latitudeLayout,jdbcType=DOUBLE},
            #{depthLayout,jdbcType=DOUBLE},
            #{longitudeWork,jdbcType=DOUBLE},
            #{latitudeWork,jdbcType=DOUBLE},
            #{depthWork,jdbcType=DOUBLE},
            #{devModel,jdbcType=VARCHAR},
            #{devSn,jdbcType=VARCHAR},
            #{dataFormat,jdbcType=VARCHAR},
            #{dataStatus,jdbcType=BIGINT},
            #{dataFileName,jdbcType=VARCHAR},
            #{devType,jdbcType=BIGINT}
        )
    </insert>

    <select id="queryListBySearchParameter" resultType="com.snf.dsds.bean.CtdDataRecord">
        SELECT
            t.data_set_sn AS 'dataSetSn',
            t.voyage_number AS 'voyageNumber',
            t.ship_name AS 'shipName',
            t.platform_type AS 'platformType',
            t.platform_name AS 'platformName',
            t.station_num AS 'stationNum',
            t.start_time AS 'startTime',
            t.finish_time AS 'finishTime',
            t.dive_num AS 'diveNum',
            t.longitude_layout AS 'longitudeLayout',
            t.latitude_layout AS 'latitudeLayout',
            t.depth_layout AS 'depthLayout',
            t.longitude_work AS 'longitudeWork',
            t.latitude_work AS 'latitudeWork',
            t.depth_work AS 'depthWork',
            t.dev_model AS 'devModel',
            t.dev_sn AS 'devSn',
            t.data_format AS 'dataFormat',
            t.data_status AS 'dataStatus',
            t.data_file_name AS 'dataFileName',
            t.dev_type AS 'devType',
            t.data_exist AS 'dataExist'
        FROM
            t_ctd_data_records t
        <where>
            t.del_flag = '0'
            <if test="searchType != null and searchType ==0">
                and t.voyage_number = #{name}
            </if>
            <if test="searchType != null and searchType ==1">
                and t.dev_type = #{id}
            </if>
            <if test="searchType != null and searchType ==2">
                and t.platform_type = #{id}
            </if>
            <if test="searchType != null and searchType ==3">
                and t.start_time >= #{name} and t.start_time &lt;= #{extra}
            </if>
            <if test="searchType != null and searchType ==4">
                and t.data_status = #{id}
            </if>
        </where>
    </select>

    <update id="updateCtdDataRecord">
        update t_ctd_data_records
        <set>
            <if test="voyageNumber !=null and voyageNumber != ''">
                voyage_number=#{voyageNumber},
            </if>
            <if test="shipName !=null and shipName != ''">
                ship_name=#{shipName},
            </if>
            <if test="platformType !=null ">
                platform_type=#{platformType},
            </if>
            <if test="platformName !=null and platformName != ''">
                platform_name=#{platformName},
            </if>
            <if test="stationNum !=null and stationNum != ''">
                station_num=#{stationNum},
            </if>
            <if test="startTime !=null ">
                start_time=#{startTime},
            </if>
            <if test="finishTime !=null ">
                finish_time=#{finishTime},
            </if>
            <if test="diveNum !=null and diveNum != ''">
                dive_num=#{diveNum},
            </if>
            <if test="longitudeLayout !=null ">
                longitude_layout=#{longitudeLayout},
            </if>
            <if test="latitudeLayout !=null ">
                latitude_layout=#{latitudeLayout},
            </if>
            <if test="depthLayout !=null ">
                depth_layout=#{depthLayout},
            </if>
            <if test="longitudeWork !=null ">
                longitude_work=#{longitudeWork},
            </if>
            <if test="latitudeWork !=null ">
                latitude_work=#{latitudeWork},
            </if>
            <if test="depthWork !=null ">
                depth_work=#{depthWork},
            </if>
            <if test="devType !=null ">
                dev_type = #{devType},
            </if>
            <if test="devModel !=null and devModel != ''">
                dev_model=#{devModel},
            </if>
            <if test="devSn !=null and devSn != ''">
                dev_sn=#{devSn},
            </if>
            <if test="dataFormat !=null and dataFormat != ''">
                data_format=#{dataFormat},
            </if>
            <if test="dataStatus !=null ">
                data_status=#{dataStatus},
            </if>
            <if test="dataFileName !=null and dataFileName != '' ">
                data_file_name=#{dataFileName},
            </if>
            <if test="delFlag !=null">
                del_flag=#{delFlag},
            </if>
        </set>
        where data_set_sn=#{dataSetSn}
    </update>

    <select id="queryFileExist" resultType="java.lang.Boolean">
        select t.data_exist from t_ctd_data_records t
        where t.voyage_number = #{voyageNumber}
        and t.data_file_name = #{fileName}
        and t.del_flag = '0'
    </select>

    <update id="updateExist">
        update t_ctd_data_records
        set data_exist = #{exist}
        where data_file_name = #{fileName}
    </update>

    <update id="delete">
        update t_ctd_data_records
        set del_flag = 1,
            data_file_name = substring(rand(),3)
        where data_set_sn = #{dataSetSn}
    </update>

    <update id="deletes">
        update t_ctd_data_records
        set del_flag = 1,
            data_file_name = substring(rand(),3)
        where data_set_sn in
        <foreach collection="dataSetSns" item="dataSetSn" open="(" close=")" separator=",">
            #{dataSetSn}
        </foreach>
    </update>

    <select id="ctdDataExist" resultType="com.snf.dsds.bean.CtdDataRecord">
        select
            t.data_set_sn AS 'dataSetSn',
            t.voyage_number AS 'voyageNumber',
            t.ship_name AS 'shipName',
            t.platform_type AS 'platformType',
            t.platform_name AS 'platformName',
            t.station_num AS 'stationNum',
            t.start_time AS 'startTime',
            t.finish_time AS 'finishTime',
            t.dive_num AS 'diveNum',
            t.longitude_layout AS 'longitudeLayout',
            t.latitude_layout AS 'latitudeLayout',
            t.depth_layout AS 'depthLayout',
            t.longitude_work AS 'longitudeWork',
            t.latitude_work AS 'latitudeWork',
            t.depth_work AS 'depthWork',
            t.dev_model AS 'devModel',
            t.dev_sn AS 'devSn',
            t.data_format AS 'dataFormat',
            t.data_status AS 'dataStatus',
            t.data_file_name AS 'dataFileName',
            t.dev_type AS 'devType' ,
            t.del_flag AS 'delFlag'
         from t_ctd_data_records t where data_set_sn = #{dataSetSn}
    </select>

    <select id="queryDataBySns" resultType="com.snf.dsds.bean.CtdDataRecord">
        select
            t.data_set_sn AS 'dataSetSn',
            t.voyage_number AS 'voyageNumber',
            t.ship_name AS 'shipName',
            t.platform_type AS 'platformType',
            t.platform_name AS 'platformName',
            t.station_num AS 'stationNum',
            t.start_time AS 'startTime',
            t.finish_time AS 'finishTime',
            t.dive_num AS 'diveNum',
            t.longitude_layout AS 'longitudeLayout',
            t.latitude_layout AS 'latitudeLayout',
            t.depth_layout AS 'depthLayout',
            t.longitude_work AS 'longitudeWork',
            t.latitude_work AS 'latitudeWork',
            t.depth_work AS 'depthWork',
            t.dev_model AS 'devModel',
            t.dev_sn AS 'devSn',
            t.data_format AS 'dataFormat',
            t.data_status AS 'dataStatus',
            t.data_file_name AS 'dataFileName',
            t.dev_type AS 'devType' ,
            t.del_flag AS 'delFlag'
         from t_ctd_data_records t where del_flag = 0 and data_set_sn in
          <foreach collection="dataSetSns" separator="," open="(" close=")" item="dataSetSn">
              #{dataSetSn}
          </foreach>
    </select>

    <select id="checkSnExist" resultType="java.lang.String">
        select data_set_sn from t_ctd_data_records where data_set_sn in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.dataSetSn}
        </foreach>
    </select>

    <select id="checkDataFileExist" resultType="java.lang.String">
        select data_set_sn from t_ctd_data_records where data_file_name in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.dataFileName}
        </foreach>
    </select>
</mapper>
