<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snf.dsds.dao.CtdDetailDao">

    <insert id="batchInsert" >
        INSERT INTO t_ctd_detail(id,file_name,temperature,salinity,depth, soundSpeed)
        VALUES
           <foreach collection="ctdDetailList" item="item" separator=",">
               (
                #{item.id},
                #{item.fileName},
                #{item.temperature},
                #{item.salinity},
                #{item.depth},
                #{item.soundSpeed}
                )
           </foreach>
    </insert>

    <delete id="deleteData">
        delete from t_ctd_detail where file_name = #{fileName}
    </delete>

    <delete id="deleteDatas" >
        delete from t_ctd_detail where file_name in
            <foreach collection="fileNames" item="fileName" separator="," open="(" close=")">
                 #{fileName}
            </foreach>
    </delete>

    <select id="queryCtdDetails" resultType="com.snf.dsds.bean.CtdDetail">
        select t.temperature,t.salinity,t.depth,t.soundSpeed
        from t_ctd_detail t where t.file_name = #{fileName} GROUP BY floor(t.depth) ORDER BY t.id
    </select>
</mapper>
