<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snf.dsds.dao.UserDao">

    <select id="findByUsername" resultType="com.snf.dsds.bean.User">
        select * from t_user where username = #{username} and del_flag != 1
    </select>

    <select id="findUser" resultType="com.snf.dsds.bean.User">
        select t.*,r.id AS 'roleObj.id',r.role AS 'roleObj.role',r.desc AS 'roleObj.desc',s.desc AS 'sexStr',
          i.id AS 'userIcon.id',i.icon AS 'userIcon.icon',r.auth AS 'roleObj.auth'
        from t_user t left join t_user_role r on t.role = r.id
        left join t_user_icon i on i.id = t.icon
        left join t_user_sex s on s.id = t.sex
        <where>
            <if test="id != null">
                and t.id = #{id}
            </if>
            and t.del_flag != 1
        </where>
    </select>

    <select id="queryUsers" resultType="com.snf.dsds.bean.User">
         select t.*,r.id AS 'roleObj.id',r.role AS 'roleObj.role',r.desc AS 'roleObj.desc',s.desc AS 'sexStr',
          i.id AS 'userIcon.id',i.icon AS 'userIcon.icon',r.auth AS 'roleObj.auth'
        from t_user t left join t_user_role r on t.role = r.id
        left join t_user_icon i on i.id = t.icon
        left join t_user_sex s on s.id = t.sex
        where t.del_flag != 1
    </select>

    <insert id="insert" >
        INSERT INTO t_user ( username, PASSWORD, role, sex, title, icon, reg, del_flag )
            VALUES
                ( #{username}, #{password}, #{role}, #{sex}, #{title}, #{icon}, #{reg}, 0 )
    </insert>

    <update id="delete">
        update t_user set del_flag = 1 where id = #{id}
    </update>

    <update id="update">
        update t_user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="role != null ">
                role = #{role},
            </if>
            <if test="sex != null ">
                sex = #{sex},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="icon != null ">
                icon = #{icon},
            </if>
            <if test="reg != null ">
                reg = #{reg},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="queryRoles" resultType="com.snf.dsds.bean.Role">
        select * from t_user_role
    </select>

    <select id="queryIcons" resultType="com.snf.dsds.bean.UserIcon">
        select * from t_user_icon
    </select>

    <select id="querySexs" resultType="java.util.Map">
        select * from t_user_sex
    </select>
</mapper>